/*place global styles here */
html,
body {
	@apply h-full;
}

/* :root {
	--theme-rounded-base: 12px;
	--theme-rounded-container: 8px;
	--theme-border-base: 0px;
} */
.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-primary-500 via-tertiary-500 to-primary-500;
}